* {
    box-sizing: border-box; /*padrão, para sobescrever alguns comportamnetos antigos do browser*/
}

body{
    font-family: "Inter", sans-serif;
}

.wrapper{ /*delimitador de tamanho para algum elemnto*/
    max-width: 900px; /*a partir de 900px a section não cresce mais*/
    margin: 0 auto;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.container{
    background-color: #1B6073;
    border-radius: 5px; /*em um cenário corporativo esse '5px' estaria em uma variavel*/
    padding: 20px 40px;
}

.card{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.card:last-child{ /*para o ultimo item não ter uma margem 'extra' pq ele não tem outro produto embaixo do qual ele precisa se separar*/
    margin-bottom: 0;
}

.card img{
    width: 100%;
}

.card .productName{
    font-size: 14px;
    font-weight: bold;
}

.card .productPrice{
    color:#2C6B9E;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


.button{
    background-color: #DB8F51;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: none;

    display: block;
}

@media (min-width:800px){
    .container{
        display: flex;
        gap: 20px;
    }

    .card{
        flex: 1; /*o elemento utiliza todo o espaço que sobrar/tiver no container*/
        margin-bottom: 0;
    }
}
