* {
    box-sizing: border-box; /*padrão, para sobescrever alguns comportamnetos antigos do browser*/
}

body{
    font-family: "Inter", sans-serif;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.container{
    background-color: #1B6073;
    border-radius: 5px; /*em um cenário corporativo esse '5px' estaria em uma variavel*/
    padding: 20px 40px;

    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.card{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.card img{
    width: 100%;
}

.card .productName{
    font-size: 14px;
    font-weight: bold;
}

.card .productPrice{
    color:#2C6B9E;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}


.button{
    background-color: #DB8F51;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    text-decoration: none;

    display: block;
}
