html, body{
    height: 100%;
}

body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 0;

    font-size: 40px;
    font-weight: bold;
}

div{
    margin-top: 40px;
    border: 1px solid black;
    padding: 40px; 
}