body{
    margin: 0;
}

.clock {
    border: 2px solid black;
    font-size: 40px;
    font-weight: bold;
    max-width: 200px;
    /*margin: 40px auto 0 auto; (tbm funciona*/
    margin-inline: auto; /*centralização horizontal*/
    margin-top: 40px;
    padding: 40px;
    text-align: center;
}

